
.list-group-item {
    background: #add8e6;
}


.navbar-default {
  background-color: #375a7f;
  border-color: transparent;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #00bc8c;
}
.navbar-header > a {
    background-color: #375a7f;
}
#sign-out a {
    color: #ffffff;
}

#sign-out a:hover,
#sign-out a:focus {
    color: #00bc8c;
}

.col-sm-9 {
    background:white;
    padding: 10px 20px;
}

div #form_ISBN {
    padding: 20px;
    background: #e9ffff;
    border-radius: 1em;
    margin-bottom: 10px;
}

div .modal-header {
    background-color: #e9ffff;
}

.col-sm-10 div #editISBN {
    width: 80%;
}

.col-sm-10 div #editBookTitle {
    width: 80%;
}

.col-sm-10 div #editAuthorName {
    width: 80%;
}

.col-sm-10 div #editPublicationDate {
    width: 80%;
}

.col-sm-10 div #editPrice {
    width: 79.2%;
}

.col-sm-10 div #editCompany {
    width: 80%;
}

.col-sm-10 div #editArrivalDate {
    width: 80%;
}

.col-sm-10 div #editReturnDate {
    width: 80%;
}

.col-sm-10 div #editSalesDate {
    width: 80%;
}

.col-sm-10 div #editShelfCord {
    width: 80%;
}

.col-sm-10 div #editQuantity {
    width: 30%;
}

.col-sm-10 div #Remarks {
    width: 80%;
}


.col-sm-10 #registration {
    height: 50px;
    width: 100px;
    font-size: 120%;
    border: outset 1px;
    float: right;
    margin-bottom: 20px;
}

.col-sm-10 #ResultMessage .breadcrumb li + li:before {
    content: ">";
}

.col-sm-10 #ResultMessage ol {
    display: inline;
    background: #e9ffff;
}

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.form-group #exclusionForm label {
    margin-top: 6px;
}

.form-group #exclusionForm p {
    margin-top: 6px;
}

.form-group .col-sm-10 button {
    border-radius: 4px;
    margin-right: 10px;
}

.form-group  #conSearch {
    width: 300px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 90%;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 700px;
	padding: 20px;
    }
}

.edit-th {
    text-align: center;
}

td {
}

td .edit-table{
    backgrond-color: transparent;
}

td .edit-table div {
}

